<!DOCTYPE html>
<html lang="en">
<head>
    <!-- npm run devMode -->
    <link type="text/css" href="css/styles.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YESMOVIES</title>
</head>
<body>
    <!-- <div class="margin-main"> -->
            <div class="okno-outer-title">
                <div class="okno-outer-in">
                    <div class="okno-inner-title">
                    <div class="pagetitle">YESMOVIES</div>     
                    </div>
                </div>
            </div>
        
            <div class="okno-outer">
                <div class="okno-outer-in">
                    <div class="okno-inner">
                    <!-- <div class="inner-button"> -->
                        
                            <button class="inner-button">REPERTUAR</button>
                            <button class="inner-button">CENNIK</button>
                            <button class="inner-button">KONTO</button>
                            <!-- <button class="inner-button">KONTO</button> -->
                            <div class="lines-vector"></div>

                    </div>    
                    </div>
                </div>
            </div>
            
            <div class="okno-outer-movie">
                <div class="okno-outer-in">
                    <div class="movie-display">
                        <div class="movie-image-container"><div class="movie-content"><p></p></div></div>
                    </div>
                </div>
            </div>

            <div class="movie-display-title-box">
                <div class="movie-display-title">MORBIUS (2022)</div></div>

</body>
</html>