<!DOCTYPE html>
<html lang="en">
<head>
    <link type="text/css" href="css/styles.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<body>

    <div class="okno-outter">
        <div class="okno-outter-in">
            <div class="okno-inner">
            YESMOVIES    
            </div>
        </div>
    </div>
   
    <div class="okno-outter">
        <div class="okno-outter-in">
            <div class="okno-inner">
            <!-- <div class="inner-button"> -->
                <button class="inner-button"> LOL </button>
            </div>    
            </div>
        </div>
    </div>
</body>
</html>